.idea/
node_modules
dist
name: Deploy

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [18]

    steps:
      - uses: actions/setup-node@v3
      - uses: actions/checkout@v3
        node-version: ${{ matrix.version }}
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: "cd /home/aldrk/react-counter && git pull && yarn install && yarn build"
